@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

body {
  margin: 0;
  background-color: var(--foreground-color);
  color: var(--symbol-color);

  --background-color: #181818;
  --foreground-color: #1f1f1f;
  --border-color: #353535;
  --scrollbar-foreground-color: #2b2b2b;
  --hover-color: #303030;
  --symbol-color: #9d9d9d;

  --main-color: #1941DF;
  --second-color: #3264FF;
  --main-danger-color: #FF5454;
  --second-danger-color: #ffd6db;
  --green-color: #19c37d;
}

#root {
  min-height: 100vh;
  max-height: 100vh;
  margin: 0;
  display: flex;
  flex-flow: column;
}

#content {
  margin: 50px 0;
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td, table th {
  border: 0;
  padding: 8px;
}

td:not(.errors) > tr:nth-child(even) {
  background-color: var(--hover-color);
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: var(--main-color);
  color: white;
}

table td {
  text-align: center;
}

button, a.button {
  width: 100%;
  height: fit-content;
  cursor: pointer;
  background-color: var(--main-color);
  color: white;
  padding: 0 20px;
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 41px;
  text-decoration: none;
  border: 0;
}

button.outlined {
  background-color: transparent;
  color: var(--main-color);
  outline: 2px solid var(--main-color);
  outline-offset: -2px;
}

button.outlined.danger {
  outline-color: var(--main-danger-color);
  color: var(--main-danger-color);
  background-color: transparent;
}

button.danger {
  background-color: var(--main-danger-color);
}

button.min {
  width: fit-content;
}

button.green {
  background-color: var(--green-color);
  color: white;
}

button[disabled] {
  cursor: not-allowed;
  background-color: var(--border-color);
}

.container {
  margin: 10px 35px;
  width: 100%;
}

.container-widjet {
  padding: 10px 20px;
  max-width: 600px;
  align-self: center;
  background-color: var(--foreground-color);
  border: 1px solid var(--border-color);
  border-radius: 0px;
}

input, select, textarea {
  width: 100%;
  height: 41px;
  border: 1px solid var(--border-color);
  padding: 0 14px;
  box-sizing: border-box;
  border-radius: 0px;
  outline: none;
  margin-bottom: 1em;
}
textarea {
  resize: vertical;
  height: fit-content;
  min-height: 7em;
}

.errors {
  margin: 0;
  margin-bottom: 10px;
  background-color: var(--second-danger-color);
  color: var(--main-danger-color);
  padding: 6px 16px;
  border-radius: 0px;
}

td.control {
  display: flex;
  justify-content: space-between;
}

.badge {
  position: absolute;
  transform: translate(80%, -80%);
  display: flex;
  justify-content: end;
}

.badge small {
  margin: 0;
  width: fit-content;
  border-radius: 50%;
  padding: 0 6px;
  background-color: var(--main-color);
}

.description {
  white-space: pre-line;
}

* {
  font-family: 'Open Sans';
}
*:not(h1, h2, h3, h4, h5, h6, small) {
  font-size: 15px;
}